[nxus-master]
aws_access_key_id = {{ (bitwarden "item" "2ef3b8d7-f71c-419f-b27e-b315002d20e8").login.username }}
aws_secret_access_key = {{ (bitwarden "item" "2ef3b8d7-f71c-419f-b27e-b315002d20e8").login.password }}

[jloweconsulting]
aws_access_key_id={{ (bitwarden "item" "ebd70108-01f9-42b2-912e-b315002dbc49").login.username }}
aws_secret_access_key={{ (bitwarden "item" "ebd70108-01f9-42b2-912e-b315002dbc49").login.password }}

[tcetra-dev]
aws_access_key_id={{ (bitwarden "item" "2ab64352-86fe-4da4-a870-b3150049415f").login.username }}
aws_secret_access_key={{ (bitwarden "item" "2ab64352-86fe-4da4-a870-b3150049415f").login.password }}

[tcetra-prod-infra]
aws_access_key_id={{ (bitwarden "item" "6521d046-95df-43a6-8696-b31500497209").login.username }}
aws_secret_access_key={{ (bitwarden "item" "6521d046-95df-43a6-8696-b31500497209").login.password }}
