{{- if .personal -}}
[nxus-master]
aws_access_key_id = {{ (bitwarden "item" "2ef3b8d7-f71c-419f-b27e-b315002d20e8").login.username }}
aws_secret_access_key = {{ (bitwarden "item" "2ef3b8d7-f71c-419f-b27e-b315002d20e8").login.password }}

[jloweconsulting]
aws_access_key_id={{ (bitwarden "item" "ebd70108-01f9-42b2-912e-b315002dbc49").login.username }}
aws_secret_access_key={{ (bitwarden "item" "ebd70108-01f9-42b2-912e-b315002dbc49").login.password }}
{{- end }}
