{{- $name := promptString "Enter your name (used for Git commits)" -}}
{{- $email := promptString "Enter your personal email" -}}
{{- $workEmail := promptString "Enter your work email" -}}
{{- $isPersonal := promptBool "Is this your personal machine?" -}}

{{- $reposdir := "" -}}
{{- if eq .chezmoi.os "windows" -}}
  {{- $reposdir = promptString "Path to your repos directory" "~/Repos" -}}
{{- else -}}
  {{- $reposdir = promptString "Path to your repos directory" "~/repos" -}}
{{- end -}}

[data]
name = {{ $name | quote }}
email = {{ $email | quote }}
workEmail = {{ $workEmail | quote }}
reposDir = {{ $reposdir | quote }}
personal = {{ $isPersonal }}

[edit]
command = "code"
args = ["--wait"]
