#!/usr/bin/env bash
export LC_CTYPE=en_US.utf8 2>/dev/null

shopt -s nocasematch

missingOnly=false
searchTerm=""
clone=false
fetch=false

while getopts "ms:cf" OPTION; do
    case $OPTION in
        m) missingOnly=true ;;
        s) searchTerm=${OPTARG} ;;
        c) clone=true ;;
        f) fetch=true ;;
        *) ;;
    esac
done

LGREEN='\033[1;32m'
NC='\033[0m' # No Color
projects=("Vidapay" "Tcetra" "Infra" "DevOps" "VidapayData")
reposDir={{ .reposDir | replaceAllRegex "\\\\" "/" }}/Tcetra/
{{ if .useSSHTcetraAzDo }}
baseUri="git@ssh.dev.azure.com:v3"
gitFragment=""
{{- else }}
baseUri="https://dev.azure.com"
gitFragment="/_git"
{{- end }}

echo -e ""
for proj in "${projects[@]}"; do
    folderName=$(echo $proj | sed 's/ /-/g') # Replace space with dash for folder name

    echo -e "${LGREEN}$proj${NC}"
    echo -e "----------"

    # Use az CLI to get repositories, no encoding needed for project name
    repos=$(az repos list --organization https://dev.azure.com/tcetra/ --project "$proj" --query "[].name" -o tsv | grep -v "^$proj$" | sort)

    for repo in $repos; do

        repo="${repo#"${repo%%[![:space:]]*}"}"
        repo="${repo%"${repo##*[![:space:]]}"}"

        if [ "$searchTerm" != "" ] && [[ ! $repo =~ "$searchTerm" ]]; then
            continue
        fi

        if [ -d $reposDir$folderName/$repo ]; then
            if [ $missingOnly = false ]; then
                echo -e "${LGREEN}$repo${NC}"

                if [ $fetch = true ]; then
                    (cd $reposDir$folderName/$repo && git fetch --all -p)
                fi
            fi
        else
            echo -e "$repo"

            if [ $clone = true ]; then
                echo -e "Cloning $repo..."
                git clone "$baseUri/tcetra/$proj$gitFragment/$repo" $reposDir$proj/$repo
                echo ""
            fi
        fi
    done

    echo ""
done
