#!/bin/zsh
{{ if eq .chezmoi.os "darwin" }}
# macOS injects path vars after .zshenv, must run in .zshrc instead
if command -v brew >/dev/null; then
  eval "$(brew shellenv)"
fi
typeset -U PATH path
path=(
  "$HOME/.local/bin"
  "$HOME/bin"
  "$PNPM_HOME"
  "$CARGO_HOME/bin"
  "$GOPATH/bin"
  "$PYENV_ROOT/bin"
  # shellcheck disable=SC2206
  $path
)

{{ end -}}
fpath=($ZDOTDIR/completions $fpath)
WORDCHARS=${WORDCHARS//\//}

ZINIT_HOME="${XDG_DATA_HOME:-${HOME}/.local/share}/zinit/zinit.git"
[ ! -d $ZINIT_HOME ] && mkdir -p "$(dirname $ZINIT_HOME)"
[ ! -d $ZINIT_HOME/.git ] && git clone https://github.com/zdharma-continuum/zinit.git "$ZINIT_HOME"
source "${ZINIT_HOME}/zinit.zsh"

autoload bashcompinit && bashcompinit
autoload -Uz compinit && compinit

complete -C '/usr/sbin/aws_completer' aws

zinit ice wait lucid \
    atinit'save_aliases=$(alias -L)' \
    atload'unalias -m "*"; eval ${save_aliases}; unset save_aliases'
zinit snippet OMZP::/terraform
zinit ice wait lucid
zinit light zsh-users/zsh-autosuggestions
zinit ice wait lucid
zinit light zsh-users/zsh-syntax-highlighting
zinit ice lucid nocompile cloneonly

eval "$(zoxide init zsh)"

{{ if ne .chezmoi.os "darwin" -}}
eval "$(dircolors -b ~/.config/zsh/dircolors)"
{{ end -}}
{{ if eq .chezmoi.os "darwin" -}}
eval "$(gdircolors -b ~/.config/zsh/dircolors)"
{{ end -}}
export MANPAGER="sh -c 'sed -u -e \"s/\\x1B\[[0-9;]*m//g; s/.\\x08//g\" | bat -p -lman'"
export BAT_THEME="Visual Studio Dark+"

setopt hist_expire_dups_first
setopt hist_ignore_dups
setopt hist_ignore_all_dups
setopt hist_ignore_space
setopt hist_find_no_dups
setopt hist_save_no_dups
setopt correct
setopt extendedglob
setopt globdots
setopt nullglob
setopt no_beep
setopt interactivecomments
setopt pushdsilent
setopt menu_complete
unsetopt auto_list

. "${XDG_CONFIG_HOME}"/zsh/.zsh_aliases
. "${XDG_CONFIG_HOME}"/zsh/.zsh_keybinds
. "${XDG_CONFIG_HOME}"/zsh/.zsh_completions
. "${XDG_CONFIG_HOME}"/zsh/.zsh_highlights
for script in "${XDG_CONFIG_HOME}"/zsh/scripts/*.sh; do
    source "$script"
done

export NVM_DIR="${XDG_CONFIG_HOME}/nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"

eval "$(pyenv init - zsh)"
{{ if eq .chezmoi.os "darwin" -}}
eval "$(jenv init -)"
{{- end }}

eval "$(oh-my-posh init zsh --config ~/.config/zsh/oh-my-posh.json)"
{{ if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.kernel "osrelease") (contains "microsoft" .chezmoi.kernel.osrelease)) -}}
export WIN_HOME=$(wslpath "$(pwsh.exe -NoProfile -Command '[Environment]::GetFolderPath("UserProfile")' | tr -d '\r')")
{{- end }}
